[Unit]
Description=backend node application
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/node /home/johnny_peckover/PoolManager/TeamAPoolProjectBackend/Index.js
Restart=on-failure
Enviroment=PATH=/usr/bin:/usr/local/bin
Enviroment=NODE_ENV=production
Enviroment=NODE_PORT=8081


[Install]
WantedBy=multi-user.target