[Unit]
Description=backend node application
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/nodenode ~/$backend_directory/$backend_runfile
Restart=on-failure
Enviroment=PATH=/usr/bin:/usr/local/bin
Enviroment=NODE_ENV=production
Enviroment=NODE_PORT=8081


[Install]
WantedBy=multi-user.target