[Unit]
Description=backend of app
After=network.target

[Service]
Type=simple
ExecStart=node ~/$backend_directory/$backend_runfile
Restart=on-failure
RestartSec=10
User=backend
# Use 'nogroup' group for Ubuntu/Debian
# use 'nobody' group for Fedora
[Install]
WantedBy=multi-user.target