    
[Unit]
Description=front end angular app

[Service]
ExecStart=/usr/bin/ng serve --host 0.0.0.0 ~/PoolManager/TeamAPoolProjectUI/src
Restart=on-failure
Type=simple
WorkingDirectory=~/PoolManager/TeamAPoolProjectUI/src

[Install]
WantedBy=multi-user.target